<%- include('head', { title: "Craft for a Cause" }); %>
<%- include('nav', { user: user }); %>

<div class="container">

<h2>Your basket</h2>
<ul class="collection">
  <% user.basket.forEach(function(basketItem) { %>
    <li class="collection-item avatar">
      <img src="<%= basketItem.product.image %>" alt="" class="circle">
      <span class="title"><%= basketItem.product.name %></span>
      <p>€<%= basketItem.product.price %><br>
         <%= basketItem.product.description %>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">close</i></a>
    </li>
  <% }) %>
</ul>

<p style="font-weight: 700; display: inline;">Total: €<%= user.basketTotal %></p>
<a href="#" class="btn teal waves-effect waves-light right">Checkout</a>

</div>

<%- include('page_scripts'); %>
<%- include('foot'); %>
