<a href="/product/<%= id %>">
<div class="col s12 m4">
  <div class="card">
    <div class="card-image" style="max-height: 200px; overflow: hidden;">
      <img src="<%= image %>">
      <span class="card-title"><%= title %></span>
    </div>
    <div class="card-content" style="padding: 16px;">
      <p style="color: #000;"><%= description %></p>
    </div>
    <div class="card-action" style="color: #000; padding-bottom: 12px; padding-top: 10px; margin: 0; padding-right: 12px; padding-left: 12px;">
      <p style="display: inline; line-height: 36px;">€<%= price %></p>
      <form action="/basket/add" method="post" style="display: inline">
        <input type="hidden" name="id" value="<%- id %>" />
        <input type="hidden" name="quantity" value="1" />
        <button class="btn teal waves-effect waves-light right">Add to basket</button>
      </form>
    </div>
  </div>
</div>
</a>
