<%- include('../head', { title: "Craft for a Cause" }); %>
<%- include('../nav', { user: user }); %>

<div class="container">
<div class="card" style="width: 100%;">
  <form action="/create/product" method="post">
    <div class="card-content">
      <div class="card-title">Add a product</div>
      <% if (error != "") { %>
      <div class="card red white-text" style="margin-bottom: 20px;">
        <div class="card-content">
          <%= error %>
        </div>
      </div>
      <% } %>

      <!-- Form -->
      <div class="input-field col s6">
        <input id="name" name="name" type="text" class="validate" required>
        <label for="name" style="left: 0;">Title</label>
      </div>
      <div class="input-field col s6">
        <input id="description" name="description" type="text" class="validate" required>
        <label for="description" style="left: 0;">Description</label>
      </div>
      <div class="input-field col s6">
        <input id="image" name="image" type="text" class="validate" required>
        <label for="image" style="left: 0;">Image URL</label>
      </div>
      <div class="input-field col s6">
        <input id="price" name="price" type="text" class="validate" required>
        <label for="price" style="left: 0;">Price (€)</label>
      </div>
      <div class="input-field col s12">
        <select id="community" name="community">
          <% communities.forEach(function(community) { %>
            <option value="<%- community._id %>"><%= community.name %></option>
          <%  }); %>
        </select>
        <label for="community" style="left: 0;">Community</label>
      </div>
      <!-- End form -->

    </div>
    <div class="card-action">
      <button class="btn teal waves-effect waves-light">Submit</button>
    </div>
  </form>
</div>
</div>

<%- include('../page_scripts'); %>
<script>
$(document).ready(function(){
  $('select').formSelect();
});
</script>
<%- include('../foot'); %>
