<%- include('../head', { title: "Craft for a Cause" }); %>
<%- include('../nav', { user: user }); %>


<div class="container">
  <div class="row">
    <h2><%= product.name %></h2>
    <div class="center-align" style="background-image: url('<%= product.image %>'); background-size: cover; width: 100%; max-width: 300px; height: 300px; margin: auto;"></div>
    <p class="center-align" style="font-weight: 700;"><a class="waves-effect waves-light btn-large">€<%= product.price %> - Add to basket</a></p>
    <p><%= product.description %></p>

    <h3>More about <% console.log(product); product.community.name %></h3>
  </div>
</div>


<%- include('../page_scripts'); %>
<%- include('../foot'); %>
